page {
  background-color: #eee;
}
.container {
  background-color: #fff;
  border-top: 8rpx solid #eee;
  .bank-container {
    padding-left: 18rpx;
    .bank {
      box-sizing: border-box;
      padding-top: 10rpx;
      border-top: 2rpx solid #eee;
      display: flex;
      height: 139rpx;
      .bank-icon {
        padding-top: 34rpx;
        width: 56rpx;
        height: 56rpx;
      }
      .bank-text {
        padding-top: 20rpx;
        padding-left: 20rpx;
        text {
          font-size: 24rpx;
          padding-left: 10rpx;
        }
        text:nth-child(1) {
          display: block;
          font-size: 28rpx;
        }

      }
      //按钮样式
      .bank-follow {
        width: 100rpx;
        height: 50rpx;
        font-size: 22rpx;
        line-height: 50rpx;
        margin-top: 40rpx;
        margin-left: 200rpx;
        padding: 0;
      }
    }
    .bank:nth-child(1) {
      border-top: 0rpx;
    }
  }
  //借款申请样式
  .lenders {
    //借款机构
    .l-lender {
      background-color: #eee;
      height: 140rpx;
      padding: 20rpx;
      box-sizing: border-box;
      display: flex;
      //借款机构图标
      .l-l-icon {
        width: 85rpx;
        height: 89rpx;
      }
      //借款机构名称
      .l-l-center {
        flex: 2;
        font-size: 24rpx;
        line-height: 36rpx;
        color: #333;
        padding-left: 18rpx;
        .l-l-r-star {
          width: 153rpx;
          height: 24rpx;
        }
      }
      //借款人数
      .l-l-people {
        font-size: 24rpx;
        line-height: 100rpx;
        color: #333;
      }
    }
    //借款金额
    .l-info {
      height: 175rpx;
      box-sizing: border-box;
      line-height: 42rpx;
      border-bottom: 2rpx solid #e3e3e5;
      .l-i-money {
        padding: 20rpx 25rpx;
        display: flex;
        font-size: 26rpx;
        .l-i-m-icon {
          width: 39rpx;
          height: 39rpx;
        }
        .l-i-m-text {
          padding-left: 21rpx;
          flex: 5;
        }
        .l-i-m-money {
          position: relative;
          left: -116rpx;
        }
        .l-i-m-money::after {
          position: absolute;
          top: 35%;
          right: -92rpx;
          content: '';
          width: 10rpx;
          height: 10rpx;
          border-width: 2rpx 2rpx 0 0;
          border-color: #333;
          border-style: solid;
          transform: rotateZ(45deg);
        }
      }
    }
    // 借款时间
    .l-repayment {
      height: 142rpx;
      border-bottom: 2rpx solid #c8c7cc;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      font-size: 30rpx;
      padding: 36rpx 0;
      text-align: center;
      line-height: 40rpx;;
      .l-r-money {
        display: flex;
        flex-direction: column;
      }
      .l-r-m-text {
        color: #949494;
      }
    }
    //活动
    .active {
      .a-w-icon {
        width: 38rpx;
        height: 38rpx;
        transform: translateY(10rpx);
      }
    }
  }
}
.a-a-text {
  display: block;
  line-height: 36rpx;
  padding-bottom: 20rpx;
}
.a-w-text, .a-a-text {
  padding-left: 12rpx;
  font-size: 26rpx;
  color: #6f6f6f;
}
.all {
  border-top: 22rpx solid #efeff4;
  padding: 5rpx 20rpx;
  line-height: 64rpx;
}
.all-title {
  font-size: 30rpx;
  font-weight: bold;
  position: relative;
  padding-left: 23rpx;
}
.all-title::before {
  content: '';
  width: 12rpx;
  height: 30rpx;
  background-color: #f00;
  position: absolute;
  top: 0;
  left: 0;
}
.btn {
  background-color: #eee;
  height: 150rpx;
  padding: 40rpx 0;
}
.lender-btn {
  width: 80%;
}